#sobre{
    background-color: darkcyan;
    margin-top: -50px;
}

#menu{
    position: relative;
    margin-bottom: 0;
}

h3{
    margin: 50px; 
}

.alert{
    margin-top: 55px;
    margin-bottom: 0;
    text-align: center;
}
